.about-company {
  display: flex;
  position: relative;
  width: 1194px;
  min-height: 317px;
  margin: 77px auto 0 auto;
  padding-left: 37px;

  @include viewport--xxxl {
    width: 62.19%;
  }

  @include viewport--xl {
    width: 93.5%;
    margin: 27px 3.12% 0 3.12%;
  }

  @include viewport--lg {
    width: 93.5%;
    min-height: 349px;
    margin: 29px 3.12% 0 3%;
  }

  @include viewport--md {
    width: 290px;
    min-height: 478px;
    margin: 42px auto 0 auto;
    padding-left: 0;
  }
}

.about-company__year {
  position: absolute;
  top: 5px;
  left: -18px;

  @include viewport--lg {
    top: -4px;
    left: -31px;
  }

  @include viewport--md {
    display: none;
  }
}

.about-company__year img {
  @include viewport--lg {
    width: 251px;
    height: 362px;
  }
}

.about-company__info {
  display: flex;
  flex-direction: column;
  margin-left: 155px;

  @include viewport--lg {
    margin-left: 22.25%;
  }

  @include viewport--md {
    margin-left: 0;
  }
}

.about-company__info h2 {
  margin: 0;
  font-family: $font-title;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  padding-bottom: 10px;

  @include viewport--lg {
    font-size: 32px;
    line-height: 45px;
  }

  @include viewport--md {
    font-size: 28px;
    line-height: 40px;
  }
}

.about-company__info p {
  margin: 0;
  margin-top: 11px;
  padding-bottom: 10px;

  @include viewport--lg {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    max-height: 90px;
    margin-top: 15px;
  }

  @include viewport--md {
    max-height: 177px;
    margin-top: 9px;
    margin-bottom: 25px;
    -webkit-line-clamp: 8;
  }
}

.about-company__info a {
  margin-top: 31px;
  color: $color-stroke;
  border: 1px solid $color-stroke;
  margin-bottom: 20px;

  @include viewport--lg {
    margin-top: 40px;
  }

  @include viewport--md {
    margin-top: 2px;
  }
}
