.features {
  position: relative;
  width: 60.94%;
  margin: 0 auto;
  padding-top: 112px;

  @include viewport--xl {
    width: 90.62%;
  }

  @include viewport--lg {
    width: 93.75%;
    padding-top: 53px;
  }

  @include viewport--md {
    width: 290px;
    padding-top: 38px;
  }
}

.features__list {
  display: flex;
  flex-wrap: wrap;

  list-style: none;
  margin: 0;
  padding: 0;
}

.features__item {
  display: flex;
  flex-direction: column;
  position: relative;

  width: 48.71%;
  min-height: 299px;
  margin: 0;
  margin-right: 2.56%;
  margin-bottom: 30px;
  padding: 44px 43px 44px 42px;

  background-color: $color-fonbasic;
  border: 1px solid $color-border;

  @include viewport--lg {
    width: 47.9%;
    min-height: 232px;
    margin-right: 4.1%;
    margin-bottom: 30px;
    padding: 24px 20px 21px 27px;
  }

  @include viewport--md {
    width: 100%;
    min-height: 232px;
    margin-right: 0;
    margin-bottom: 20px;
    padding: 25px 11px 23px 27px;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 5;
    left: -1px;
    top: -1px;
    width: 3px;
    height: calc(100% + 2px);
    background-color: $color-stroke;
  }

  &:hover,
  &:focus {
    outline: none;
    color: $color-fonbasic;
    background-color: $color-stroke;
    transition-duration: $time-transition;

    svg,
    h3 {
      color: $color-fonbasic;
    }
  }
}

.features__item:first-child {
  @include viewport--md {
    padding: 25px 13px 23px 27px;
  }
}

.features__item:nth-child(2n) {
  margin-right: 0;
}

.features__icon--detective svg {
  @include viewport--lg {
    width: 31px;
    height: 26px;
  }
}

.features__icon--hired svg,
.features__icon--tag svg {
  @include viewport--lg {
    width: 32px;
    height: 32px;
  }
}

.features__icon svg {
  color: $color-stroke;
}

.features__item h3 {
  margin: 0;
  margin-top: 17px;

  font-family: $font-title;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: $color-stroke;

  @include viewport--lg {
    margin-top: 7px;
  }

  @include viewport--md {
    margin-top: 13px;
    font-size: 20px;
    line-height: 28px;
  }
}

.features__item p {
  margin: 0;
  margin-top: 15px;

  @include viewport--lg {
    margin-top: 9px;
  }

  @include viewport--md {
    margin-top: 10px;
  }
}
