.feedback {
  display: flex;
  position: relative;
  padding: 92px 375px 113px 350px;
  background-color: $color-stroke;


  @include viewport--xxl {
    padding: 92px 3.12% 113px 3.12%;
  }

  @include viewport--lg {
    padding: 80px 11.2% 104px 12%;
  }

  @include viewport--md {
    padding: 30px 4.53% 42px 4.53%;
  }
}

.feedback__wrapper {
  display: flex;
  max-width: 1195px;
  margin: 0 auto;

  @include viewport--lg {
    width: 100%;
    min-width: 591px;
    margin: 0;
  }

  @include viewport--md {
    min-width: 290px;
  }
}

.feedback svg {
  position: absolute;
  z-index: 1;
  top: 94px;
  left: 50%;
  transform: translateX(-42.5%);
  width: 1801px;
  height: 517px;
  overflow: hidden;

  @include viewport--xl {
    display: none;
  }
}

.feedback__photo {
  z-index: 5;
  max-width: 511px;
  margin-top: 69px;

  @include viewport--xxl {
    max-width: 35%;
    flex-shrink: 2;
  }

  @include viewport--lg {
    display: none;
  }
}

.feedback form {
  margin-left: 114px;
  width: 570px;
  z-index: 5;

  @include viewport--xxl {
    margin-left: 5%;
    width: 47.7%;
  }

  @include viewport--lg {
    width: 100%;
    margin-left: 0;
  }
}

.feedback__form {
  flex-shrink: 0;
  width: 570px;

  @include viewport--lg {
    width: 100%;
    min-width: 591px;
  }

  @include viewport--md {
    min-width: 290px;
  }
}

.feedback__form h3 {
  margin: 0;
  margin-left: -4px;
  font-family: $font-title;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;

  color: $color-fonbasic;

  @include viewport--lg {
    font-size: 32px;
    line-height: 45px;
  }

  @include viewport--md {
    margin-left: 0;
    font-size: 28px;
    line-height: 40px;
  }
}

.feedback__form p {
  margin: 0;
  margin-top: 8px;
  color: $color-fonbasic;

  @include viewport--lg {
    margin-top: 16px;
  }

  @include viewport--md {
    margin-top: 12px;
  }
}

.feedback__list {
  display: flex;
  flex-wrap: wrap;

  list-style: none;
  margin: 0;
  margin-top: 53px;
  padding: 0;

  @include viewport--lg {
    margin-top: 55px;
  }

  @include viewport--md {
    margin-top: 26px;
  }
}

.feedback__item {
  width: 270px;
  margin: 0;
  margin-right: 30px;

  @include viewport--xxl {
    width: 47.37%;
    margin-right: 5.26%;
  }

  @include viewport--md {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.feedback__item:nth-child(2n) {
  margin-right: 0;
}

.feedback__item input {
  width: 100%;
  min-height: 50px;
  padding: 14px 17px;
  background-color: $color-fonbasic1;
  color: $color-fonbasic;
  border: none;
  transition: box-shadow $transition-base;

  @include viewport--md {
    min-height: 52px;
    padding: 14px 17px 19px;
  }

  &:hover,
  &:focus {
    box-shadow: 0 0 0 1px $color-fonbasic;
    outline: none;
  }
}

.feedback__item input::-webkit-input-placeholder {
  color: $color-fonbasic;
}

.feedback__item input:-moz-placeholder {
  color: $color-fonbasic;
}

.feedback__form textarea {
  min-height: 154px;
  width: 100%;
  margin-top: 40px;
  padding: 14px 17px;
  background-color: $color-fonbasic1;
  color: $color-fonbasic;
  border: none;
  transition: box-shadow $transition-base;

  @include viewport--lg {
    min-height: 160px;
    margin-top: 42px;
  }

  @include viewport--md {
    min-height: 104px;
    margin-top: 0;
  }

  &:hover,
  &:focus {
    box-shadow: 0 0 0 1px $color-fonbasic;
    outline: none;
  }
}

.feedback__form textarea::-webkit-input-placeholder {
  color: $color-fonbasic;
}

.feedback__form textarea:-moz-placeholder {
  color: $color-fonbasic;
}

.feedback__field {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 36px;

  @include viewport--lg {
    margin-top: 40px;
  }

  @include viewport--md {
    margin-top: 25px;
  }
}

.feedback__field input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feedback__field input:checked + label {
  &::after {
    content: "";
    position: absolute;
    top: 14px;
    left: 6px;
    width: 5px;
    height: 7px;
    transform: translateY(-50%) skewX(-3deg) rotate(44deg);
    border-bottom: 1px solid $color-fonbasic;
    border-right: 1px solid $color-fonbasic;
  }
}

.feedback__field label {
  position: relative;
  width: 40.35%;
  margin-left: 38px;
  padding-left: 32px;
  padding-top: 8px;

  font-size: 14px;
  line-height: 16px;
  color: $color-fonbasic8;

  @include viewport--lg {
    width: 40.35%;
    margin-left: 41px;
    margin-top: 0;
  }

  @include viewport--md {
    width: 100%;
    margin-top: 24px;
    margin-left: 0;
    padding-left: 34px;
  }

  &:hover,
  &:focus {
    outline: none;
    cursor: pointer;
  }

  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px solid $color-fonbasic;
  }
}

.feedback__button {
  width: 270px;
  color: $color-fonbasic;
  border: 1px solid $color-fonbasic;

  @include viewport--xxl {
    width: 46%;
  }

  @include viewport--lg {
    width: 47.37%;
    max-height: 47px;
  }

  @include viewport--md {
    width: 100%;
  }
}

.feedback__item .js-invalid {
  border: 1px solid $color-invalid;
}

label.js-unchecked {
  color: $color-invalid;
}
