.main-footer {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  position: relative;

  width: 100%;
  margin-top: auto;

  @include viewport--lg {
    min-height: 457px;
  }

  @include viewport--md {
    min-height: auto;
  }

  &::before {
    @include viewport--lg {
      content: "";
      position: absolute;
      left: 0;
      top: 95px;
      width: 100%;
      height: 1px;
      background-color: $color-line;
    }

    @include viewport--md {
      width: 0;
      height: 0;
    }
  }
}

.main-footer__wrapper {
  display: flex;
  width: 1411px;
  margin: 65px auto 0 auto;

  @include viewport--xxl {
    width: 73.5%;
    margin: 65px 13.33% 0 13.18%;
  }

  @include viewport--xl {
    width: 93.88%;
    margin: 65px 3.13% 0 2.99%;
  }

  @include viewport--lg {
    flex-wrap: wrap;
    margin: 17px 3% 0 3.1%;
  }

  @include viewport--md {
    width: 100%;
    margin: 45px 0 0 0;
  }
}

.main-footer__header {
  display: flex;
  flex-direction: column;
  min-width: 216px;

  @include viewport--lg {
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  @include viewport--md {
    flex-direction: column;
  }
}

.main-footer__logo {
  display: flex;

  @include viewport--lg {
    margin-top: 2px;
  }

  @include viewport--md {
    margin-top: 0;
  }
}

.main-footer__all-right {
  @include viewport--lg {
    display: none;
  }
}

.main-footer__header-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  max-width: 113px;
  margin: 0;
  margin-top: 50px;
  padding: 0;

  @include viewport--lg {
    margin-top: 0;
    margin-left: auto;
  }

  @include viewport--md {
    margin-top: 27px;
    margin-left: 0;
  }
}

.main-footer__header-item {
  margin-right: 16px;
  margin-top: 5px;
}

.main-footer__header-item a {
  display: block;
  transition: opacity $transition-base;

  &:hover,
  &:focus {
    outline: none;
    cursor: pointer;
    opacity: 0.5;
  }
}

.main-footer__header-item:nth-child(3n) {
  margin-right: 0;
}

.main-footer__site-section {
  margin-left: 206px;
  display: flex;
  flex-direction: column;

  @include viewport--xxl {
    margin-left: 14.6%;
  }

  @include viewport--lg {
    max-width: 243px;
    margin-top: 61px;
    margin-left: 0;
    padding: 0 0 25px 0;
  }

  @include viewport--md {
    min-width: 100%;
    margin-top: 46px;
    padding: 26px 15px 27px 15px;

    border-top: 1px solid $color-line;
    border-bottom: 1px solid $color-line;
  }
}

.main-footer__site-block {
  max-height: 1000px;
  display: flex;
  height: auto;

  @include viewport--xl {
    min-height: 175px;
    max-height: 1000px;
  }

  @include viewport--lg {
    min-height: 175px;
    max-height: 1000px;
  }

  @include viewport--md {
    max-height: 0;
    min-height: 0;
    overflow: hidden;
    transition: max-height $transition-base;
  }
}

.main-footer__site-list {
  column-count: 2;
  column-gap: 65px;
  list-style: none;
  margin: 0;
  margin-top: 24px;
  padding: 0;

  font-size: 15px;
  line-height: 25px;
  color: $color-title;

  @include viewport--xl {
    display: flex;
    flex-direction: column;
  }

  @include viewport--md {
    width: 100%;
    margin-top: 0;
  }
}

.main-footer__site-item {
  min-width: 243px;
}

.main-footer__site-item a {
  color: $color-text;
  transition: opacity $transition-base;

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.5;
  }
}

.main-footer__site-item:nth-child(2n) {
  margin-right: 0;
}

.main-footer__address-section {
  min-width: 333px;
  margin-left: 102px;

  @include viewport--xxl {
    margin-left: auto;
  }

  @include viewport--xl {
    min-width: 332px;
  }

  @include viewport--lg {
    min-width: 344px;
    margin-top: 61px;
    padding: 0 0 25px 0;
  }

  @include viewport--md {
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
    margin-top: 0;
    margin-left: 0;
    padding: 26px 15px 22px 15px;
  }
}

.main-footer__menu {
  display: flex;
  width: 100%;
}

.main-footer__site-section h2,
.main-footer__address-section h2 {
  margin: 0;
  margin-top: 3px;
  font-family: $font-title;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: $color-section;

  @include viewport--lg {
    margin-left: 2px;
  }

  @include viewport--md {
    width: 150px;
    margin-left: 0;
  }
}

.main-footer__address-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 1000px;
  margin-top: 24px;

  @include viewport--lg {
    margin-top: 27px;
  }

  @include viewport--md {
    min-width: 272px;
    max-width: 272px;
    margin-top: 0;
    padding-top: 30px;
    max-height: 0;
    overflow: hidden;
    transition: max-height $transition-base;
  }
}

.main-footer__address-block p {
  margin: 0;
  padding: 0;

  font-size: 15px;
  line-height: 25px;
}

.main-footer__address-block a {
  margin: 0;
  padding: 0;

  font-size: 15px;
  line-height: 25px;
  color: $color-text;

  transition: opacity $transition-base;

  &:hover,
  &:focus {
    outline: none;
    cursor: pointer;
    opacity: 0.25;
  }
}

.main-footer__right-section {
  margin-top: 60px;
  border-top: 1px solid $color-line;

  @include viewport--lg {
    margin-top: 35px;
  }

  @include viewport--md {
    margin-top: 5px;
  }
}

.main-footer__right-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 1411px;
  min-height: 52px;
  margin: 0 auto;
  padding: 14px 0 14px 0;

  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $color-title;

  @include viewport--xxl {
    width: 73.48%;
  }

  @include viewport--xl {
    width: 93.35%;
    font-size: 12px;
  }

  @include viewport--lg {
    min-height: 69px;
    width: 100%;
    padding: 21px 3.3% 24px 3%;
    font-size: 13px;
  }

  @include viewport--md {
    flex-direction: column;
    justify-content: center;

    min-height: 123px;
    padding: 26px 3.3% 24px 3%;
  }
}

.main-footer__block-right {
  display: flex;
  flex-wrap: wrap;
  min-width: 457px;

  color: $color-text;

  @include viewport--lg {
    display: none;
  }
}

.main-footer__service {
  margin-left: auto;

  @include viewport--lg {
    margin-left: 0;
  }
}

.main-footer__right-section a {
  color: $color-text;
  transition: opacity $transition-base;

  &:hover,
  &:focus {
    outline: none;
    cursor: pointer;
    opacity: 0.5;
  }
}

.main-footer__conditions {
  margin-left: 142px;

  @include viewport--xxl {
    margin-left: 10.25%;
  }

  @include viewport--lg {
    margin-left: 3px;
  }
}

.main-footer__studio {
  margin-left: auto;

  @include viewport--md {
    margin-top: 21px;
    margin-left: 0;
  }
}

.main-footer__service--tablet {
  display: none;

  @include viewport--lg {
    display: block;
    margin-left: 12.06%;
    margin-top: 5px;

    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }

  @include viewport--md {
    margin-left: 0;
    margin-top: 26px;
  }
}

.main-footer__service--desktop {
  @include viewport--lg {
    display: none;
  }
}

.main-footer__toggle {
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;

  border: none;
  background-color: transparent;
  display: none;


  @include viewport--md {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: 2px;
    margin-top: 3px;

    &::before {
      position: absolute;
      content: "";
      top: -26px;
      right: -15px;
      width: 1024px;
      height: 74px;
    }

    &:hover,
    &:focus {
      outline: none;
      cursor: pointer;
    }

    .main-footer__btn-close {
      display: none;
    }

    &--active {
      .main-footer__btn-close {
        display: flex;
      }

      .main-footer__btn-open {
        display: none;
      }
    }

    &--no-js {
      display: none;
    }
  }
}

.main-footer__hide-block {
  @include viewport--md {
    padding-top: 0;
  }
}

.main-footer__hide-block--js {
  @include viewport--md {
    max-height: 100%;
    padding-top: 30px;
  }
}
