.main-header {
  display: flex;
  flex-direction: column;
  position: relative;

  width: 100%;
  min-height: 878px;

  @include viewport--lg {
    min-height: 686px;
  }

  @include viewport--md {
    min-height: 646px;
  }
}

.main-header__wrapper--desktop {
  @include viewport--lg {
    display: none;
  }
}

.main-header__wrapper--tablet {
  display: none;

  @include viewport--lg {
    display: block;
  }

  @include viewport--md {
    display: none;
  }
}

.main-header__wrapper--mobile {
  display: none;

  @include viewport--md {
    display: block;
  }
}

.main-header__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 878px;
  background-color: $color-background;

  @include viewport--lg {
    min-height: 686px;
  }

  @include viewport--md {
    min-height: 646px;
  }
}

.main-header__wrapper img {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 878px;

  @include viewport--lg {
    height: 686px;
  }

  @include viewport--md {
    height: 646px;
  }
}

.main-header__wrapper svg {
  position: absolute;
  z-index: 1;
  top: 272px;
  left: 54.74%;

  @include viewport--lg {
    top: 81px;
    left: 456px;
    max-width: 197.5%;
  }

  @include viewport--md {
    top: 70px;
    left: 168px;
    max-width: 452%;
  }
}

.main-header__top {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  width: 73.5%;
  margin: 33px 13.33% 0 13.18%;

  @include viewport--xl {
    width: 93.75%;
    margin: 33px 3.2% 0 3.2%;
  }

  @include viewport--lg {
    width: 93.75%;
    margin: 18px 3.2% 0 3.2%;
  }

  @include viewport--md {
    width: 90%;
    margin: 15px 4.69% 0 5.31%;
  }
}

.main-header__logo {
  display: flex;

  @include viewport--lg {
    margin-top: 2px;
  }
}

.main-header__logo svg {
  @include viewport--md {
    width: 38px;
    height: 38px;
  }
}

.main-header__logo-text {
  display: flex;
  flex-direction: column;
  min-height: 45px;
  margin-left: 16px;

  @include viewport--md {
    display: none;
  }
}

.main-header__logo h3 {
  margin: 0;
  margin-top: 6px;
  font-family: $font-title;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;

  color: $color-fonbasic;
}

.main-header__logo p {
  max-width: 134px;
  margin: 0;
  margin-top: 1px;
  font-family: $font-optional;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;

  color: $color-optional;
}

.main-header__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  max-width: 470px;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.main-header__item {
  display: flex;
  align-items: center;
  margin: 0;
}

.main-header__item:nth-child(2n) {
  margin-left: 82px;

  @include viewport--lg {
    margin-left: 33px;
  }

  @include viewport--md {
    margin-left: 24px;
  }
}

.main-header__link {
  display: flex;

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.5;
    transition-duration: $time-transition;
  }
}

.main-header__text {
  line-height: 18px;
  color: $color-fonbasic;
}

.main-header__text--mail {
  margin-left: 20px;

  @include viewport--lg {
    display: none;
  }
}

.main-header__text--phone {
  margin-left: 16px;

  @include viewport--lg {
    display: none;
  }
}

.main-header__button {
  margin-left: 50px;
  color: $color-fonbasic;
  border: 1px solid $color-fonbasic;

  @include viewport--lg {
    display: none;
  }
}

.main-header__icon--mail svg {
  @include viewport--lg {
    width: 25px;
    height: 19px;
  }
}

.main-header__icon--phone svg {
  width: 24px;
  height: 24px;
}
