.main-footer {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  position: relative;

  width: 100%;
  min-height: 316px;
  margin-top: auto;

  @include viewport--lg {
    min-height: 457px;
  }

  @include viewport--md {
    min-height: auto;
  }

  &::before {
    @include viewport--lg {
      content: "";
      position: absolute;
      left: 0;
      top: 95px;
      width: 100%;
      height: 1px;
      background-color: $color-line;
    }

    @include viewport--md {
      width: 0;
      height: 0;
    }
  }
}

.main-footer__wrapper {
  display: flex;
  width: 73.5%;
  margin: 65px 13.33% 0 13.18%;

  @include viewport--xl {
    width: 93.88%;
    margin: 65px 3.13% 0 2.99%;
  }

  @include viewport--lg {
    flex-wrap: wrap;
    width: 93.8%;
    margin: 17px 3% 0 3.1%;
  }

  @include viewport--md {
    width: 100%;
    margin: 46px 0 0 0;
  }
}

.main-footer__header {
  display: flex;
  flex-direction: column;
  min-width: 216px;

  @include viewport--lg {
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  @include viewport--md {
    flex-direction: column;
  }
}

.main-footer__logo {
  display: flex;

  @include viewport--lg {
    margin-top: 2px;
  }

  @include viewport--md {
    margin-top: 0;
  }
}

.main-footer__logo-text {
  display: flex;
  flex-direction: column;
  min-height: 45px;
  margin-left: 16px;
}

.main-footer__logo h3 {
  margin: 0;
  margin-top: 6px;
  font-family: $font-title;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;

  color: $color-title;
}

.main-footer__logo p {
  max-width: 148px;
  margin: 0;
  margin-top: 1px;
  font-family: $font-optional;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;

  color: $color-optional;
}

.main-footer__all-right {
  @include viewport--lg {
    display: none;
  }
}

.main-footer__header-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  max-width: 113px;
  margin: 0;
  margin-top: 54px;
  padding: 0;

  @include viewport--lg {
    margin-top: 0;
    margin-left: auto;
  }

  @include viewport--md {
    margin-top: 32px;
    margin-left: 0;
  }
}

.main-footer__header-item {
  margin-right: 16px;
}

.main-footer__header-item a {
  display: block;

  &:hover,
  &:focus {
    outline: none;
    cursor: pointer;
    opacity: 0.5;
    transition-duration: $time-transition;
  }
}

.main-footer__header-item:nth-child(3n) {
  margin-right: 0;
}

.main-footer__site-section {
  margin-left: 14.6%;

  @include viewport--lg {
    display: flex;
    flex-wrap: wrap;
    max-width: 243px;
    margin-top: 61px;
    margin-left: 0;
  }

  @include viewport--md {
    min-width: 100%;
    margin-top: 53px;
    padding: 26px 15px 27px 15px;

    border-top: 1px solid $color-line;
    border-bottom: 1px solid $color-line;
  }
}

.main-footer__site-list {
  column-count: 2;
  column-gap: 65px;
  list-style: none;
  margin: 0;
  margin-top: 24px;
  padding: 0;

  font-size: 15px;
  line-height: 25px;
  color: $color-title;
  opacity: 0.5;

  @include viewport--xl {
    column-count: 1;
    column-gap: 0;
  }
}

.main-footer__site-item {
  min-width: 243px;
}

.main-footer__site-item a {
  &:hover,
  &:focus {
    outline: none;
    opacity: 0.5;
    transition-duration: $time-transition;
  }
}

.main-footer__site-item:nth-child(2n) {
  margin-right: 0;
}

.main-footer__address-section {
  max-width: 333px;
  margin-left: auto;

  @include viewport--xxl {
    min-width: 333px;
  }

  @include viewport--xl {
    min-width: 332px;
  }

  @include viewport--lg {
    min-width: 345px;
    margin-top: 61px;
  }

  @include viewport--md {
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
    margin-top: 0;
    margin-left: 0;
    padding: 26px 15px 22px 15px;
  }
}

.main-footer__site-section h2,
.main-footer__address-section h2 {
  margin: 0;
  margin-top: 3px;
  font-family: $font-title;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: $color-section;

  @include viewport--lg {
    margin-left: 2px;
  }

  @include viewport--md {
    min-width: 90%;
    margin-left: 0;
  }
}

.main-footer__address-block {
  width: 100%;
  margin-top: 24px;

  @include viewport--md {
    min-width: 272px;
    max-width: 272px;
    margin-top: 30px;
  }
}

.main-footer__address-block p {
  margin: 0;

  font-size: 15px;
  line-height: 25px;
  color: $color-title;
  opacity: 0.5;
}

.main-footer__right-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  min-height: 52px;
  margin-top: 55px;
  padding: 19px 13.33% 14px 13.18%;

  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $color-title;
  opacity: 0.5;

  border-top: 1px solid $color-line;

  @include viewport--xl {
    padding: 14px 3% 14px 3.2%;
    font-size: 12px;
  }

  @include viewport--lg {
    min-height: 69px;
    margin-top: 37px;
    padding: 21px 3.3% 24px 3%;
    font-size: 13px;
  }

  @include viewport--md {
    flex-direction: column;
    justify-content: center;

    min-height: 123px;
    margin-top: 5px;
    padding: 26px 3.3% 24px 3%;
  }
}

.main-footer__block-right {
  display: flex;
  flex-wrap: wrap;
  min-width: 457px;

  @include viewport--lg {
    display: none;
  }
}

.main-footer__service {
  margin-left: auto;

  @include viewport--lg {
    margin-left: 0;
  }
}

.main-footer__right-section a {
  &:hover,
  &:focus {
    outline: none;
    cursor: pointer;
    opacity: 0.5;
    transition-duration: $time-transition;
  }
}

.main-footer__conditions {
  margin-left: 10.25%;

  @include viewport--lg {
    margin-left: 3px;
  }
}

.main-footer__studio {
  margin-left: auto;

  @include viewport--md {
    margin-top: 21px;
    margin-left: 0;
  }
}

.main-footer__service--tablet {
  display: none;

  @include viewport--lg {
    display: block;
    margin-left: 12.06%;
    margin-top: 5px;

    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }

  @include viewport--md {
    margin-left: 0;
    margin-top: 26px;
  }
}

.main-footer__service--desktop {
  @include viewport--lg {
    display: none;
  }
}

.main-footer__toggle {
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;

  border: none;
  background-color: transparent;
  display: none;


  @include viewport--md {
    display: flex;
    position: relative;
    margin-left: auto;

    &::before {
      position: absolute;
      content: "";
      top: -26px;
      right: -15px;
      width: 1024px;
      height: 74px;
    }

    &:hover,
    &:focus {
      outline: none;
      cursor: pointer;
    }

    span:nth-child(1) {
      display: none;
    }

    &--active {
      span:nth-child(1) {
        display: flex;
      }

      span:nth-child(2) {
        display: none;
      }
    }

    &--nojs {
      display: none;
    }
  }
}

.main-footer__hide-block--js {
  @include viewport--md {
    display: none;
  }
}
