.main-header {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 878px;

  @include viewport--lg {
    min-height: 686px;
  }

  @include viewport--lg {
    min-height: 646px;
  }
}

.main-header__wrapper--desktop {
  @include viewport--lg {
    display: none;
  }
}

.main-header__wrapper--tablet {
  display: none;

  @include viewport--lg {
    display: block;
  }

  @include viewport--md {
    display: none;
  }
}

.main-header__wrapper--mobile {
  display: none;

  @include viewport--md {
    display: block;
  }
}

.main-header__wrapper {
  position: relative;
  width: 100%;
  min-height: 878px;
  background-color: $color-background;

  @include viewport--lg {
    min-height: 686px;
  }

  @include viewport--lg {
    min-height: 646px;
  }
}

.main-header__wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 878px;

  @include viewport--lg {
    height: 686px;
  }

  @include viewport--md {
    height: 646px;
  }
}

.main-header__photo {
  display: flex;
  justify-content: flex-end;
}

.main-header__photo--desktop img {
  width: 705px;
  max-width: 705px;
  height: 515px;
  min-height: 515px;
  position: relative;
  z-index: 1;
}

.main-header__photo--tablet {
  @include viewport--lg {
    margin-left: -10px;
  }
}

.main-header__photo--tablet img {
  width: 260px;
  max-width: 330px;
  height: 340px;
  min-height: 340px;

  position: relative;
  z-index: 1;
}

.main-header__photo--mobile img {
  width: 294px;
  max-width: 294px;
  height: 220px;
  min-height: 220px;
  margin-right: 0;
  position: relative;
  z-index: 1;
}

.main-header__top {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  width: 73.5%;
  margin: 33px 13.33% 0 13.18%;

  @include viewport--xl {
    width: 93.75%;
    margin: 33px 3.2% 0 3.2%;
  }

  @include viewport--lg {
    width: 93.75%;
    margin: 18px 3.2% 0 3.2%;
  }

  @include viewport--md {
    width: 90%;
    margin: 15px 4.69% 0 5.31%;
  }
}

.main-header__logo {
  display: flex;

  @include viewport--lg {
    margin-top: 2px;
  }
}

.main-header__logo svg {
  @include viewport--md {
    width: 38px;
    height: 38px;
  }
}

.main-header__logo-text {
  display: flex;
  flex-direction: column;
  min-height: 45px;
  margin-left: 16px;

  @include viewport--md {
    display: none;
  }
}

.main-header__logo h3 {
  margin: 0;
  margin-top: 6px;
  font-family: $font-title;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;

  color: $color-fonbasic;
}

.main-header__logo p {
  max-width: 134px;
  margin: 0;
  margin-top: 1px;
  font-family: $font-optional;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;

  color: $color-optional;
}

.main-header__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  max-width: 470px;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.main-header__item {
  display: flex;
  align-items: center;
  margin: 0;
  // margin-bottom: 10px;
}

.main-header__item:nth-child(2n) {
  margin-left: 82px;

  @include viewport--lg {
    margin-left: 33px;
  }

  @include viewport--md {
    margin-left: 24px;
  }
}

.main-header__link {
  display: flex;

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.5;
  }
}

.main-header__text {
  line-height: 18px;
  color: $color-fonbasic;
}

.main-header__text--mail {
  margin-left: 20px;

  @include viewport--lg {
    display: none;
  }
}

.main-header__text--phone {
  margin-left: 16px;

  @include viewport--lg {
    display: none;
  }
}

.main-header__button {
  margin-left: 50px;
  color: $color-fonbasic;
  border: 1px solid $color-fonbasic;

  @include viewport--lg {
    display: none;
  }
}

.main-header__bottom {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;

  width: 77.81%;
  margin: 173px 9.22% auto 12.97%;
  padding-bottom: 70px;

  @include viewport--xl {
    width: 93.75%;
    margin: 173px 2.91% auto 4.09%;
  }

  @include viewport--lg {
    width: 88.8%;
    margin: 41px 0 auto 11.4%;
  }

  @include viewport--md {
    flex-direction: column;
    width: 95.31%;
    margin: 37px 0 auto 4.69%;
  }
}

.main-header__intro {
  display: flex;
  flex-direction: column;
  margin-top: 56px;
  z-index: 2;

  color: $color-fonbasic;

  @include viewport--lg {
    margin-top: 75px;
  }

  @include viewport--md {
    margin-top: -26px;
  }
}

.main-header__intro h2 {
  margin: 0;
  font-family: $font-title;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;

  letter-spacing: 0.07em;
  text-transform: uppercase;

  @include viewport--xxl {
    font-size: 60px;
    line-height: 70px;
  }

  @include viewport--lg {
    // margin-top: 75px;
    font-size: 60px;
    line-height: 70px;
  }

  @include viewport--md {
    max-width: 277px;
    // margin-top: -26px;
    font-size: 40px;
    line-height: 47px;
  }
}

.main-header__intro p {
  position: relative;
  margin: 0;
  max-width: 683px;
  margin-top: 30px;
  margin-left: 98px;
  font-size: 22px;
  line-height: 34px;

  @include viewport--xl {
    max-width: 570px;
    margin-left: 51px;

    font-size: 18px;
    line-height: 28px;
  }

  @include viewport--lg {
    max-width: 356px;
    margin-left: 51px;

    font-size: 18px;
    line-height: 28px;
  }

  @include viewport--md {
    max-width: 245px;
    margin-top: 28px;
    margin-left: 51px;

    font-size: 16px;
    line-height: 25px;
  }

  &::before {
    content: "";
    position: absolute;
    left: -94px;
    top: 16px;
    width: 66px;
    height: 2px;
    background-color: $color-fonbasic;

    @include viewport--xl {
      left: -48px;
      width: 33px;
      top: 15px;
    }

    @include viewport--lg {
      left: -48px;
      width: 33px;
      top: 15px;
    }
  }
}

.main-header__scroll-to-form {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 407px;
  min-height: 55px;
  margin-top: 43px;
  margin-left: 98px;
  padding: 12px 28px 14px;

  background: $color-stroke;
  border-radius: 5px;

  font-family: $font-title;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.5;
  }

  @include viewport--lg {
    width: 379px;
    margin-top: 55px;
    margin-left: 51px;
    padding: 12px 14px 14px;
  }

  @include viewport--md {
    width: 287px;

    margin-top: 40px;
    margin-left: 3px;
    padding: 12px 11px 14px;
  }
}

.main-header__scroll-to-features {
  margin-left: -35px;
  margin-top: 130px;
  width: 93px;
  transform: rotate(270deg);
  font-size: 14px;
  line-height: 16px;

  opacity: 0.5;

  @include viewport--lg {
    display: none;
  }

  &:hover,
  &:focus {
    outline: none;
    opacity: 1;
  }
}

.main-header__icon--mail svg {
  @include viewport--lg {
    width: 25px;
    height: 19px;
  }
}

.main-header__icon--phone svg {
  width: 24px;
  height: 24px;
}
