.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  overflow-y: auto;

  background-color: $color-overlay;
  transform: scale(1.2);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  transition: opacity $transition-base,
    transform $transition-base,
    visibility $transition-base;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &--active {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
}

.modal__wrapper {
  position: relative;

  display: flex;
  flex-shrink: 0;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 60px 40px;
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  cursor: pointer;
}

.modal__content {
  position: relative;

  display: flex;
  flex-shrink: 0;

  width: 490px;
  min-height: 605px;
  margin: 77px auto auto auto;
  padding: 32px 39px 36px 39px;
  background: $color-stroke;
}

.modal__close-btn {
  position: absolute;
  top: 20px;
  right: 15px;

  border: none;
  outline: none;
  cursor: pointer;

  background-color: transparent;
  transition: opacity $transition-base;

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.5;
  }

  &::before {
    content: "";
    position: absolute;
    left: -5px;
    top: -10px;
    width: 37px;
    height: 37px;
    background-color: transparent;
    border: none;
  }
}

.modal__content h3 {
  margin: 0;
  font-family: $font-title;
  font-weight: 400;
  font-size: 28px;
  line-height: 39px;

  color: $color-fonbasic;
}

.modal__content p {
  margin: 0;
  max-width: 385px;
  margin-top: 12px;
  color: $color-fonbasic;
}

.modal__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px 0 0;
  padding: 0;
  list-style: none;
}

.modal__item {
  width: 100%;
  margin: 0;
  margin-bottom: 30px;
}

.modal__item input {
  width: 100%;
  min-height: 52px;
  padding: 14px 24px 18px;
  background-color: $color-fonbasic1;
  color: $color-fonbasic;
  border: none;
  transition: box-shadow $transition-base;

  &:hover,
  &:focus {
    box-shadow: 0 0 0 1px $color-fonbasic;
    outline: none;
  }
}

.modal__item input::-webkit-input-placeholder {
  color: $color-fonbasic;
}

.modal__item input:-moz-placeholder {
  color: $color-fonbasic;
}

.modal__content textarea {
  width: 100%;
  min-height: 104px;
  margin-top: 0;
  padding: 14px 24px;

  background-color: $color-fonbasic1;
  color: $color-fonbasic;
  border: none;
  transition: box-shadow $transition-base;

  &:hover,
  &:focus {
    box-shadow: 0 0 0 1px $color-fonbasic;
    outline: none;
  }
}

.modal__content textarea::-webkit-input-placeholder {
  color: $color-fonbasic;
}

.modal__content textarea:-moz-placeholder {
  color: $color-fonbasic;
}

.modal__field {
  width: 100%;
  margin-top: 25px;
}

.modal__field input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal__field input:checked + label {
  &::after {
    content: "";
    position: absolute;
    top: 14px;
    left: 6px;
    width: 5px;
    height: 7px;
    transform: translateY(-50%) skewX(-3deg) rotate(44deg);
    border-bottom: 1px solid $color-fonbasic;
    border-right: 1px solid $color-fonbasic;
  }
}

.modal__field label {
  position: relative;
  z-index: 100;
  display: flex;
  width: 90%;

  padding-left: 50px;
  padding-top: 8px;

  font-size: 14px;
  line-height: 16px;
  color: $color-fonbasic8;

  &:hover,
  &:focus {
    outline: none;
    cursor: pointer;
  }

  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px solid $color-fonbasic;
  }
}

.modal__button {
  width: 100%;
  min-height: 47px;
  margin-top: 25px;
  color: $color-fonbasic;
  border: 1px solid $color-fonbasic;
}

.modal__item .js-invalid {
  border: 1px solid $color-invalid;
}

label.js-unchecked {
  color: $color-invalid;
}
