.sections-wrapper {
  position: relative;
  width: 100%;
  min-height: 1263px;
  overflow: hidden;

  @include viewport--lg {
    min-height: 1112px;
  }

  @include viewport--md {
    min-height: 1795px;
  }
}

.sections-wrapper__background {
  position: absolute;
  top: 47px;
  left: -180px;
  width: 2071px;
  min-height: 1111px;
  overflow: hidden;

  @include viewport--lg {
    top: 240px;
    left: -537px;
    width: 1507px;
    min-height: 746px;
  }

  @include viewport--md {
    top: 800px;
    left: 152px;
    width: 482px;
    min-height: 560px;
  }
}

.sections-wrapper__background--desktop {
  @include viewport--lg {
    display: none;
  }
}

.sections-wrapper__background--tablet {
  display: none;

  @include viewport--lg {
    display: block;
  }

  @include viewport--md {
    display: none;
  }
}

.sections-wrapper__background--mobile {
  display: none;

  @include viewport--md {
    display: block;
  }
}
